*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    min-width: 1100px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
    font-family: inherit;
    background: transparent;
    border: none;
}

ul, ol {
    list-style: none;
}
