/* === Общие классы === */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* === Шапка === */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-size: 18px;
    line-height: 1.35;
}

/* === Обложка === */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: 0;
}

.cover__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    margin-top: 135px;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
}

/* === Секция с лотами === */
.lots {
    padding: 180px 50px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex: 1 0 430px;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* === Секция "Об аукционе" === */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    padding: 100px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* === Подвал === */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 0 50px 90px;
}

.footer__address {
    font-size: 18px;
    line-height: 1.35;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    text-align: center;
    font-size: 18px;
}

.footer__menu-list-item {
    margin-bottom: 5px;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
